@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
}

body {
  background: rgba(22, 19, 18, 0.95);
}
body main header {
  position: relative;
  width: 100%;
  height: 530px;
  min-height: 530px;
  border-color: rgb(68, 62, 59);
  border-radius: 16px;
}
body main header .container-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0;
}
body main header .container-header .fondo-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body main header .container-header .fondo-header .banner-header {
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  border-radius: 16px;
  filter: brightness(0.3);
}
body main header .container-header .fondo-header .banner-header-responsive {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  aspect-ratio: 1080/1350;
  border-radius: 16px;
  filter: brightness(0.15);
}
body main header .container-header .texto-header {
  height: 90%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0;
  padding: 20px;
  margin: 0;
}
body main header .container-header .texto-header .container-texto {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 0;
}
body main header .container-header .texto-header .container-texto .pelicula-destacada {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: rgb(241, 86, 39);
}
body main header .container-header .texto-header .container-texto .pelicula-destacada h3 {
  font-size: 14px;
}
body main header .container-header .texto-header .container-texto .pelicula-destacada i {
  padding: 0 0 3px 0;
  margin: 0;
  font-size: 16px;
}
body main header .container-header .texto-header .container-texto .title-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 50px;
}
body main header .container-header .texto-header .container-texto .title-header .fondo-transparente {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.123), rgba(241, 86, 39, 0.233), rgba(0, 0, 0, 0.123));
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
  padding: 20px;
  margin: 0;
  border-radius: 30px;
}
body main header .container-header .texto-header .container-texto .title-header .fondo-transparente img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 300px;
}
body main header .container-header .texto-header .container-texto .title-header p {
  font-size: 18px;
  color: rgba(209, 213, 219, 0.9);
  text-wrap: balance;
}
body main header .container-header .texto-header .container-texto .title-header .detalles-destacado {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 40px;
  color: rgba(209, 213, 219, 0.9);
}
body main header .container-header .texto-header .container-texto .title-header .detalles-destacado > div {
  padding: 5px 15px;
  margin: 0;
  border-radius: 30px;
  background-color: rgba(241, 86, 39, 0.13);
  color: rgb(241, 86, 39);
}
body main header .container-header .texto-header .container-texto .title-header small {
  font-size: 14px;
}
body main header .container-header .texto-header .container-texto .botones-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 30px;
}
body main header .container-header .texto-header .container-texto .botones-header button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 32px;
  margin: 0;
  border-radius: 10px;
  font-size: 14px;
  color: rgba(209, 213, 219, 0.9);
  background: rgba(22, 19, 18, 0.55);
  border: none;
}
body main header .container-header .texto-header .container-texto .botones-header button i {
  font-size: 18px;
}
body main header .container-header .texto-header .container-texto .botones-header > button:nth-child(1) {
  background: linear-gradient(135deg, rgb(241, 86, 39), rgb(184, 46, 92));
}
body main header .container-header .texto-header .container-texto botones-header > button:nth-child(2) {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 0;
  background: rgba(22, 19, 18, 0.95);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 99;
  border-bottom: 1px solid rgb(68, 62, 59);
}
nav div a {
  text-decoration: none;
  color: rgb(184, 46, 92);
}

.izquierda-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 0 5px 0;
  margin: 0;
}
.izquierda-nav .logo {
  width: 40px;
}
.izquierda-nav .texto-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5px;
  padding: 0 0 2px 0;
  margin: 0;
}
.izquierda-nav .texto-nav h1 {
  background: linear-gradient(135deg, rgb(241, 86, 39), rgb(184, 46, 92));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  font-size: 20px;
}
.izquierda-nav .texto-nav p {
  color: rgb(148, 163, 184);
  font-size: 12px;
  display: none;
}

.centro-nav {
  display: none;
}

.derecha-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.derecha-nav .btn-inicio-sesion {
  color: rgba(22, 19, 18, 0.95);
  background: linear-gradient(135deg, rgb(241, 86, 39), rgb(184, 46, 92));
  border-style: none;
  border-radius: 10px;
  font-size: 14px;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  margin: 0;
}
.derecha-nav .fa-bars {
  color: rgb(148, 163, 184);
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */