$color-principal: rgb(241, 86, 39)
$color-secundario: rgb(184, 46, 92)
$degradado-principal: linear-gradient(135deg,$color-principal,$color-secundario)
$degradado-secundario: linear-gradient(45deg,rgba(0, 0, 0, 0.123)20% ,rgba(241, 86, 39, 0.233)60% ,rgba(0, 0, 0, 0.123)80%)
$background: rgb(22, 19, 18)
$background-oscuro:rgba(0, 0, 0, 0.702)
$background-button:rgba(22, 19, 18, 0.75)
$background-cartas:rgba(35, 29, 26)
$texto:rgb(248, 250, 252)
$texto-alternativo: rgb(148, 163, 184)
$subtitle:rgba(209, 213,219,0.90)
$borde-cartas:rgb(48, 43, 40)
$borde:rgba(255, 255, 255,0.3)
$filter-blur: 12px
$color-alternativo: black
$color-fondo: brow

*
  margin: 0
  padding: 0
  font-family: "Inter", sans-serif

body
  background: $background
  cursor: default
main
  @include flex(column,center,center,20px)