
@mixin flex($display,$dir,$just,$alig,$gp:0)
  @if $display == null
    display: flex
    flex-direction: $dir
    justify-content: $just
    align-items: $alig
    gap: $gp
  @else if $display == none
    display: none
    flex-direction: $dir
    justify-content: $just
    align-items: $alig
    gap: $gp

@mixin grid($diferentes,$columnas,$gp,$alineacion:auto)
  display: grid
  @if $diferentes == true
    grid-template-columns: $columnas
  @else
    grid-template-columns: repeat($columnas,1fr)
  gap:$gp
  align-items: $alineacion

@mixin espaciado($padding:0,$margin:0)
  padding: $padding
  margin: $margin

@mixin img-position()
  object-fit: cover
  object-position: center

@mixin degradado-principal()
  background : $degradado-principal
  -webkit-text-fill-color: transparent
  background-clip: text

@mixin transition($time)
  @if $time == 0.3
    transition: 0.3s all ease
  @else if $time == 0.5
    transition: 0.5s all ease
  @else if $time == 1
    transition: 1s all ease

@mixin efecto-entrada()
  0%
    transform: translateY(100%)
    opacity: 0

  100%
    transform: translateY(0)
    opacity: 1


