
@mixin flex($display,$dir,$just,$alig,$gp:0)
  @if $display == null
    display: flex
    flex-direction: $dir
    justify-content: $just
    align-items: $alig
    gap: $gp
  @else if $display == none
    display: none
    flex-direction: $dir
    justify-content: $just
    align-items: $alig
    gap: $gp

@mixin gri($diferentes,$columnas,$gp,$alineacion:auto)
  display: grid
  @if $diferentes == true
    grid-template-columns: $columnas
  @else
    grid-template-columns: repeat($columnas,1fr)
  gap:$gp
  align-items: $alineacion

@mixin espaciado($padding:0,$margin:0)
  padding: $padding
  margin: $margin

@mixin img-position()
  object-fit: cover
  object-position: center

@mixin degradado-principal()
  background : $degradado-principal
  -webkit-text-fill-color: transparent
  background-clip: text
