nav
  @include flex(null,row,space-between,center,null)
  @include espaciado(0 24px,0)
  background: $background-button
  backdrop-filter: blur($filter-blur)
  position: sticky
  top: 0
  z-index: 99
  border-bottom: 1px solid $borde
  div
    a
      text-decoration: none
      color: $color-secundario


.izquierda-nav
  @include flex(null,row,center,center,5px)
  @include espaciado(10px 0 5px 0,0)
  .logo
    width: 40px
  .texto-nav
    @include flex(null,column,center,start,5px)
    @include espaciado(0 0 2px 0,0)
    h1
      @include degradado-principal()
      font-size: 20px
      font-family: "Arvo", serif
    p
      color:$texto-alternativo
      font-size: 12px
      display: none


.centro-nav
  display: none
  .enlaces-centrales
    @include flex(null,row,center,center,5px)
    a
      color: $texto
      @include flex(null,row,center,center,10px)
      p
        display: none
.fondo-redondo
  .popup-nav
    visibility: hidden
    opacity: 0
    position: absolute
    top: 55px
    background: $background
    width: 250px
    border-radius: 10px
    @include espaciado(8px,0)
    @include flex(null,column,center,start,15px)
    border: 1px solid $borde
    backdrop-filter: blur(12px)
    box-shadow: 0 0 20px 0 #000000b2
    .fondo-rectangular
      @include flex(null,row, left, center,10px)
      width: 90%
      @include espaciado(8px,0)
      @include transition(0.3)
      border-radius: 10px
      &:hover
        background: $color-secundario
      p
        display: block
        font-size: 14px
  &:hover
    .popup-nav
    visibility: visible
    opacity: 1





.derecha-nav
  @include flex(null,row,center,center,20px)
  .btn-inicio-sesion
    color: $background
    background: $degradado-principal
    border-style: none
    border-radius: 10px
    font-family: "Inter", sans-serif
    font-size: 12px
    font-weight: 600
    @include flex(none,row,center,center,8px)
    @include espaciado(10px 14px,0)
    @include transition(0.3)
    &:hover
      filter: brightness(1.2)
      cursor: pointer

.fondo-redondo
  color: $texto-alternativo
  cursor: pointer
  border-radius: 50%
  width: 40px
  height: 40px
  @include flex(null,column,center, center, 0)
  @include transition(0.3)
  &:hover
    background: $color-secundario
    color: #e09caa
    .popup-nav
        visibility: visible
        opacity: 1
