nav
  @include flex(null,row,space-between,center,null)
  @include espaciado(0 24px,0)
  background: $background
  backdrop-filter: blur($filter-blur)
  position: sticky
  top: 0
  z-index: 99
  border-bottom: 1px solid $borde
  div
    a
      text-decoration: none
      color: $color-secundario


.izquierda-nav
  @include flex(null,row,center,center,5px)
  @include espaciado(10px 0 5px 0,0)
  .logo
    width: 40px
  .texto-nav
    @include flex(null,column,center,start,5px)
    @include espaciado(0 0 2px 0,0)
    h1
      @include degradado-principal()
      font-size: 20px
    p
      color:$texto-alternativo
      font-size: 12px
      display: none


.centro-nav
  display: none


.derecha-nav
  @include flex(null,row,center,center,16px)
  .btn-inicio-sesion
    color: $background
    background: $degradado-principal
    border-style: none
    border-radius: 10px
    font-size: 12px
    font-weight: 400
    @include flex(none,row,center,center,8px)
    @include espaciado(12px 16px,0)
  .fondo-redondo
    color: $texto-alternativo
    cursor: pointer
    border-radius: 50%
    width: 30px
    height: 30px
    @include flex(null,column,center, center, 0)
    &:hover
      background: $degradado-secundario
      color: $texto
      backdrop-filter: blur(15px)
