@media only screen and (min-width: 600px)

  .izquierda-nav
    .texto-nav
      p
        display: block
  .derecha-nav
    .btn-inicio-sesion
      @include flex(null,row,center,center,8px)




@media only screen and (min-width: 768px)

  .container-header
    .fondo-header
      .banner-header
        display: block
      .banner-header-responsive
        display: none
  .centro-nav
    display: block
    .enlaces-centrales
      .fondo-redondo:hover
        background: $color-secundario

  .derecha-nav
    .fondo-redondo
      display: none

  section
    .section-cards
      @include grid(false,2,25px,center)
@media only screen and (min-width: 992px)


@media only screen and (min-width: 1200px)